@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --color-primary: #e7e8e9;
  --color-primary-light:#f5e0e4;
  --color-secondary:#1764ec;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;
  --color-grey-dark-3: #343434;
  --color-dark: #1f1f1f;
  --red-text: rgb(243, 77, 77);
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --shadow-dark:  0 2rem 6rem rgba(0,0,0,.3);
  --warning-color-red: #ecc40e; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-grey-dark-2); }
  body .dashboard {
    color: var(--grey-dark-1);
    background-image: linear-gradient(To right bottom, var(--grey-light-3), var(--grey-light-4));
    background-size: cover;
    background-repeat: no-repeat;
    margin: 8rem; }

.container {
  margin: 3px; }

::selection {
  background-color: transparent; }

.dashboard-container {
  max-width: 120rem;
  background-color: var(--grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
  display: flex; }

.dashboard-side_bar {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column; }

.dashboard-header {
  font-size: 1.4rem;
  height: 7rem;
  border-bottom: 1px solid var(--grey-light-2);
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .dashboard-header-hdText {
    text-transform: capitalize;
    color: var(--color-dark); }
  .dashboard-header-form {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .dashboard-header-form_button {
    border: none; }
  .dashboard-header-form_icon {
    position: relative;
    height: 2rem !important;
    width: 2rem !important;
    fill: var(--grey-dark-3);
    margin-right: -3.25rem; }
  .dashboard-header-form_input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--grey-light-2);
    border: none;
    padding: .7rem 3rem;
    border: 1px solid var(--color-grey-dark-3);
    border-radius: 100px;
    width: 90%;
    transition: all .2s; }
    .dashboard-header-form_input:focus {
      outline: none;
      width: 100%;
      background-color: var(--grey-light-3); }
    .dashboard-header-form_input::-webkit-input-placeholder {
      font-weight: 400;
      color: var(--grey-dark-3);
      margin-bottom: .3px; }
  .dashboard-header-notification {
    position: relative;
    padding: .7rem;
    border-radius: 15%;
    border: 1px solid var(--color-dark);
    transition: all .2s; }
    .dashboard-header-notification:hover {
      background-color: var(--grey-light-4); }
    .dashboard-header-notification_icon {
      height: 2.5rem !important;
      width: 2.5rem !important;
      fill: var(--grey-dark-3); }
    .dashboard-header-notification-circle {
      font-size: .8rem;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 50%;
      background-color: #eb5c62;
      position: absolute;
      top: .3rem;
      left: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center; }
  .dashboard-header-userBox {
    padding: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-dark);
    border-radius: 4px;
    transition: all .2s; }
    .dashboard-header-userBox > *:not(:last-child) {
      margin-right: .2rem; }
    .dashboard-header-userBox:hover {
      background-color: var(--grey-light-4); }
    .dashboard-header-userBox_avaticon {
      height: 2.95rem !important;
      width: 2.95rem !important;
      fill: var(--grey-dark-3); }
    .dashboard-header-userBox_icon {
      height: 2.25rem !important;
      width: 2.25rem !important;
      fill: var(--grey-dark-3); }

.dashboard-main {
  background-color: var(--grey-light-4);
  flex: 1; }

.dashboard-sideNav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .dashboard-sideNav-item {
    position: relative; }
    .dashboard-sideNav-item:not(:last-child) {
      margin-bottom: .5rem; }
    .dashboard-sideNav-item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .dashboard-sideNav-item:hover::before, .dashboard-sideNav-item--active::before {
    transform: scaleY(1);
    width: 100%;
    border-right: 3px solid var(--color-dark); }
  .dashboard-sideNav-item:active::before {
    background-color: var(--color-primary-light); }
  .dashboard-sideNav-link:link, .dashboard-sideNav-link:active {
    color: var(--color-grey-dark-3);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .dashboard-sideNav-logo {
    height: 1.75rem !important;
    width: 1.75rem !important;
    margin-right: .5rem; }

.deals {
  position: relative;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../src/utils/img/tile_background.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden; }
  .deals-box {
    display: flex;
    flex-direction: row;
    margin: 5rem 1rem; }
  .deals-text {
    display: flex;
    flex: 0 0 15%;
    flex-direction: column;
    align-items: center; }
  .deals-h2 {
    color: var(--grey-light-2);
    font-size: 2.3rem;
    text-transform: capitalize; }
  .deals-card {
    flex: 1;
    display: flex;
    align-items: center; }
  .deals-heading_btn {
    padding: 1rem;
    border-radius: 50%;
    margin-right: -10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6); }
  .deals-heading_icon {
    height: 4rem;
    width: 4rem; }
  .deals-clock {
    font-size: 2rem;
    color: white;
    margin-top: 3rem;
    font-family: cursive; }

.description {
  display: flex;
  padding: 5rem 10rem; }
  .description-img {
    margin-right: 3rem; }
  .description-photo {
    height: 43rem;
    width: 37rem;
    border: none;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem; }
  .description-stars {
    margin-right: .5rem !important; }
  .description-conStars {
    margin-right: auto; }
  .description-box {
    display: flex;
    flex-direction: column;
    padding: 1.5rem; }
    .description-box > * {
      margin-bottom: 1rem; }
  .description-texthd {
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 1rem; }
  .description-rating {
    color: var(--grey-dark-2); }
  .description-price {
    color: var(--red-text);
    font-size: 2.5rem; }
  .description-text1 {
    line-height: 2.5rem;
    font-size: 1.7rem; }
  .description-buttons {
    padding: 1rem 0; }
    .description-buttons-1 {
      border: 2px solid var(--color-grey-dark-3);
      padding: 0.5rem 4.5rem;
      border-radius: .5rem;
      color: var(--grey-dark-1);
      margin-right: 1rem;
      -webkit-border-radius: .5rem;
      -moz-border-radius: .5rem;
      -ms-border-radius: .5rem;
      -o-border-radius: .5rem;
      transition: all .3s; }
      .description-buttons-1:link, .description-buttons-1:active {
        font-size: 1.5rem;
        text-transform: capitalize;
        text-decoration: none; }
      .description-buttons-1:hover {
        background-color: var(--color-grey-dark-3);
        color: var(--color-grey-light-1); }
    .description-buttons-2 {
      background-color: var(--color-grey-dark-3);
      padding: 0.5rem 4rem;
      text-transform: capitalize;
      border-radius: .5rem;
      margin-right: 1rem;
      -webkit-border-radius: .5rem;
      -moz-border-radius: .5rem;
      -ms-border-radius: .5rem;
      -o-border-radius: .5rem;
      transition: all .3s;
      color: var(--color-grey-light-1); }
      .description-buttons-2:link, .description-buttons-2:active {
        font-size: 1.5rem;
        text-decoration: none; }
      .description-buttons-2:hover {
        background-color: var(--color-grey-dark-2);
        color: var(--grey-light-1); }
  .description-details {
    color: var(--color-grey-dark-1);
    font-size: 1.7rem; }
    .description-details > * {
      margin-bottom: 1rem; }
  .description-category {
    margin: 1rem 0 2rem 0;
    text-transform: capitalize; }
  .description-social {
    display: flex;
    align-items: center; }
    .description-social > p {
      margin-right: .7rem; }
    .description-social > span > * {
      margin-right: .5rem; }
  .description-icon {
    height: 3rem !important;
    width: 3rem !important;
    fill: var(--grey-light-1); }
  .description-related_products {
    margin: 5rem 10rem; }

.category-text {
  font-style: oblique;
  text-decoration: wavy;
  text-decoration-line: underline;
  margin-bottom: 3px;
  text-align: center; }

.category-photo {
  height: 28rem;
  width: 27rem; }

.category-id {
  color: #5a5656;
  margin-right: auto; }

.category-det {
  display: flex;
  align-items: center; }

.category-price {
  color: var(--red-text); }

.footer {
  position: relative;
  padding: 7rem 2rem;
  background-color: #343434;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .footer-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr)); }
    .footer-div > *:not(:last-child) {
      margin-right: 20px; }
  .footer-desc_box > h3 {
    color: var(--color-grey-light-1);
    font-size: x-large;
    text-transform: capitalize;
    margin-bottom: .5rem; }
  .footer-desc_box > p {
    font-size: 1.4rem;
    color: var(--color-grey-light-2);
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto; }
  .footer-box-headtd {
    color: var(--color-grey-light-1);
    font-size: 1.9rem;
    text-transform: capitalize;
    margin-bottom: .9rem;
    font-weight: 600; }
  .footer-list {
    list-style: none; }
    .footer-list > * {
      margin-bottom: 8px; }
  .footer-link {
    font-size: 1.4rem;
    color: var(--color-grey-light-2);
    text-transform: capitalize; }
    .footer-link:link, .footer-link:active {
      text-decoration: none; }
  .footer-subscribe-text {
    color: var(--color-grey-light-1);
    font-size: 2.3rem;
    text-transform: capitalize;
    margin-bottom: .9rem;
    font-weight: 600; }
  .footer-subscribe-div {
    margin: 1rem 0; }
  .footer-subscribe-input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #fff;
    border: none;
    padding: .7rem 2rem;
    border-radius: 10px;
    transition: all .2s; }
    .footer-subscribe-input:focus {
      outline: none;
      width: 100%;
      background-color: var(--grey-light-2);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .footer-subscribe-input::-webkit-input-placeholder {
      font-weight: 400;
      color: var(--grey-dark-3);
      font-style: italic; }
  .footer-subscribe-button {
    background-color: var(--color-grey-light-1);
    color: var(--grey-dark-1);
    border: none;
    border-radius: 0;
    font-family: "josefin sans", Sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1.2rem 1.8rem;
    cursor: pointer;
    transition: all .3s; }
    .footer-subscribe-button:hover {
      background-color: var(--color-grey-light-2);
      color: var(--grey-dark-1); }
  .footer-copyright {
    text-align: center;
    margin: 3rem 0 -6rem 0; }
    .footer-copyright > p {
      color: var(--color-grey-light-1);
      font-size: 1.4rem; }

.header-top {
  background-color: var(--grey-light-3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem; }

.header-icon {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .header-icon_txt {
    text-transform: capitalize;
    margin-right: 2rem;
    font-style: italic;
    font-family: "Bookman Old Style"; }

.header-behanze {
  position: relative; }
  .header-behanze, .header-behanze::before, .header-behanze::after {
    width: 2rem;
    height: 2.5px;
    background-color: var(--grey-dark-1);
    display: -webkit-inline-flex; }
  .header-behanze::before, .header-behanze::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .header-behanze::before {
    top: -.5rem; }
  .header-behanze::after {
    top: .5rem; }
  .header-behanze:hover::before {
    top: -.7rem; }
  .header-behanze:hover::after {
    top: .7rem; }

.header-form {
  flex: 0 0 45%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header-form_input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #fff;
    border: none;
    padding: .7rem 2rem;
    border-radius: 10px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; }
    .header-form_input:focus {
      outline: none;
      width: 100%;
      background-color: var(--grey-light-2);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .header-form_input::-webkit-input-placeholder {
      font-weight: 400;
      color: var(--grey-dark-3);
      font-style: italic; }
  .header-form_button {
    border: none;
    background-color: var(--grey-light-2);
    cursor: pointer; }
    .header-form_button:focus {
      outline: none; }
    .header-form_button:active {
      transform: translateY(2px); }

.header-nav {
  display: flex;
  align-items: center; }
  .header-nav_div:not(:last-child) {
    margin-right: 2.5rem; }
  .header-nav-text {
    color: var(--color-grey-dark-1);
    backface-visibility: hidden;
    padding: 1.7rem; }
    .header-nav-text:link, .header-nav-text:active {
      font-size: 1.8rem;
      text-decoration: none;
      text-transform: capitalize;
      transition: all .3s; }
    .header-nav-text:hover {
      background-color: var(--grey-dark-3); }

.header-icons {
  display: flex;
  position: absolute;
  top: 50%;
  height: 50px;
  width: 98%;
  margin: 0 auto;
  justify-content: space-between;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  transition: transform ease-in .1s; }
  .header-icons-left, .header-icons-right {
    fill: white;
    height: 8rem;
    width: 8rem;
    transform: translateX(2px);
    padding: 2rem;
    border-radius: 50%;
    transition: background-color ease-in-out .2s; }
    .header-icons-left:focus, .header-icons-right:focus {
      outline: 0; }
    .header-icons-left:hover, .header-icons-right:hover {
      background-color: var(--color-grey-light-1);
      fill: var(--color-grey-dark-1); }

.header_text {
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%); }
  .header_text-primary {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: .4rem;
    display: block;
    text-transform: capitalize;
    color: var(--color-grey-light-1); }
  .header_text-para {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: .2rem;
    line-height: 1.6;
    width: 75%;
    text-align: justify;
    color: var(--color-grey-light-1); }
  .header_text-btns {
    margin-top: 2.5rem; }
  .header_text-button {
    background-color: var(--color-grey-light-1);
    color: var(--grey-dark-1);
    border: none;
    border-radius: 0;
    font-family: "josefin sans", Sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .3s; }
    .header_text-button:link, .header_text-button:active {
      text-decoration: none; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  transition: all .4s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .3s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn--white {
  background-color: var(--color-grey-light-1);
  color: var(--grey-dark-1); }

.btn--white::after {
  background-color: var(--color-grey-light-1); }

.btn--animated {
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards; }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
    -webkit-transform: translateY(3rem);
    -moz-transform: translateY(3rem);
    -ms-transform: translateY(3rem);
    -o-transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.login {
  background-image: linear-gradient(to right bottom, rgba(7, 8, 30, 0.87), rgba(5, 10, 35, 0.9));
  margin: 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center; }
  .login-heading_text {
    font-style: oblique;
    text-decoration: wavy;
    text-decoration-line: underline;
    margin-bottom: 3px;
    text-align: center;
    font-size: 4rem;
    color: var(--color-grey-light-2); }
  .login-form {
    width: 30%;
    height: 40rem;
    background-color: rgba(7, 8, 30, 0.6);
    border-radius: 3px;
    margin: 14.7rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1.2rem 1.2rem 1.6rem 0 rgba(0, 0, 0, 0.25), -0.8rem -1.2rem 1.2rem 0 rgba(255, 255, 255, 0.05); }
    .login-form_group:not(last-child) {
      margin-bottom: 2rem; }
    .login-form_input {
      font-size: 1.5rem;
      font-family: inherit;
      color: inherit;
      padding: 1.5rem 10rem 1.5rem 2rem;
      border-radius: 2px;
      background-color: rgba(236, 236, 236, 0.836);
      border: none;
      border-bottom: 2px solid transparent;
      width: 100%;
      display: block;
      transition: all .3s;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
      .login-form_input::-webkit-input-placeholder {
        color: var(--grey-dark-1); }
      .login-form_input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(var(--color-dark), 0.1);
        border-bottom: 2px solid var(--grey-dark-3); }
        .login-form_input:focus:invalid {
          border-bottom: 2px solid #ff2013; }
    .login-form_label {
      font-size: 1.2rem;
      font-weight: 400;
      margin: 0 0 7px 2rem;
      display: block;
      transition: all .3s;
      color: var(--color-grey-light-1); }
    .login-form_input:placeholder-shown + .login-form_label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem); }
    .login-form_buttons {
      display: flex;
      justify-content: center; }
    .login-form_btn {
      font-size: 1.7rem;
      font-weight: 700;
      border: none;
      color: inherit;
      margin: 2rem 0;
      text-transform: capitalize;
      transition: all .3s;
      padding: 1rem 1.5rem;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      cursor: pointer;
      color: var(--grey-dark-1); }
      .login-form_btn:hover, .login-form_btn:active {
        background-color: var(--grey-light-4);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
        border: none;
        transform: translateY(-2px);
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px); }
  .login-alt_buttons {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-grey-light-2);
    font-size: 1.6rem; }
    .login-alt_buttons > * {
      margin-bottom: .3rem; }
  .login-textLink {
    color: var(--color-grey-light-2);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s; }
    .login-textLink:link, .login-textLink:active {
      color: var(--color-grey-light-2);
      text-decoration: none; }
    .login-textLink:hover {
      color: var(--color-grey-light-4);
      font-style: oblique;
      text-decoration: wavy;
      text-decoration-line: underline; }
  .login-warningText {
    font-size: 1.2rem;
    color: red;
    font-style: italic; }
  .login-disabled {
    background-color: grey; }

.signup {
  background-image: linear-gradient(to right bottom, rgba(7, 8, 30, 0.87), rgba(5, 10, 35, 0.9));
  margin: 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center; }
  .signup-form {
    width: 30%;
    background-color: rgba(7, 8, 30, 0.6);
    border-radius: 3px;
    margin: 9rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1.2rem 1.2rem 1.6rem 0 rgba(48, 60, 230, 0.25), -0.8rem -1.2rem 1.2rem 0 rgba(29, 32, 56, 0.05); }
  .signup-heading_text {
    font-style: oblique;
    text-decoration: wavy;
    text-decoration-line: underline;
    margin-bottom: 3px;
    text-align: center;
    font-size: 4rem;
    color: var(--color-grey-light-1); }
  .signup-div {
    margin: 2rem 0; }

.products {
  padding: 7rem 3rem;
  background-color: var(--color-primary); }

.product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem; }
  .product-heading {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .product-heading_text {
      margin: 1.5rem 0;
      text-transform: capitalize;
      display: flex;
      margin-right: auto; }
    .product-heading_btn {
      border: none;
      height: 3rem;
      padding: .5rem;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }
      .product-heading_btn:not(:last-child) {
        margin-right: .3rem; }
      .product-heading_btn:hover {
        background-color: var(--grey-dark-3); }
    .product-heading_icon {
      height: 1rem;
      width: 1rem; }
    .product-heading_btn:hover + .product-heading_icon {
      height: 2rem;
      width: 2rem; }
  .product-card {
    height: 30rem;
    width: 25rem;
    background-color: rgba(238, 238, 238, 0.9);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1.2rem 1.2rem 1.6rem 0 rgba(184, 177, 177, 0.3), -0.8rem -1.2rem 1.2rem 0 rgba(155, 154, 154, 0.3);
    cursor: pointer; }
    .product-card:not(:last-child) {
      margin-right: 1rem; }
    .product-cards {
      display: flex;
      flex-direction: row; }
    .product-card-h2 {
      text-transform: capitalize;
      font-size: 2rem;
      color: var(--color-grey-dark-2); }
    .product-card-p {
      text-align: center;
      display: -webkit-box;
      box-orient: vertical;
      -webkit-box-orient: vertical;
      line-clamp: 4;
      -webkit-line-clamp: 4;
      overflow: hidden; }
    .product-card-cont {
      padding: .5rem 3rem;
      display: flex; }
    .product-card-money {
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--color-grey-dark-2); }
  .product-star {
    height: 2rem;
    width: 2rem;
    margin-right: 1px; }
    .product-stars {
      margin-right: 5rem; }
    .product-star--active {
      fill: #e2cd12 !important; }
    .product-star--inactive {
      fill: #bbb !important; }

.loading-spinner {
  position: absolute;
  display: grid;
  place-self: center;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid rgba(29, 161, 242, 0.2);
  border-left-color: #1da1f2;
  background-color: transparent;
  animation: rotate-loader 1.5s linear infinite;
  -webkit-animation: rotate-loader 1.5s linear infinite;
  animation-delay: .2s; }

@keyframes rotate-loader {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0); }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg); } }

.warning {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid var(--warning-color-red);
  border-style: inset;
  margin: 1rem; }
  .warning-icon {
    height: 2rem !important;
    width: 2rem !important;
    fill: var(--warning-color-red) !important;
    margin-right: .5rem; }
  .warning-text {
    font-size: 1.4rem;
    color: var(--warning-color-red); }
